<!DOCTYPE html>
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
  <title>계정 목록 조회</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="/css/comm.css">
  <link rel="stylesheet" type="text/css" href="/css/account.css">
  <link rel="stylesheet" type="text/css" href="/bootstrap4/css/bootstrap.min.css">

</head>
<body>


<!-- 헤더 위치 -->
<th:block th:include="~{/comm/header}"></th:block>


<div id="main" style="font-size:large; text-align: center; ">

  <div id="search" style="height: 150px;padding: 15px; font-size: large">

    <form name="getList" autocomplete="on" action="/html/getList" method="post">
      <fieldset>
        <legend> [검색조건] </legend>
        <label>계정명</label>
        <input type="text" name="account">
<!--        <input type="hidden" name="pageNum">-->
<!--        <input type="hidden" name="amount">-->
        &nbsp;&nbsp;
        <label>프로파일</label>
          <select name="profile">
            <option value="ALL">계정 구분</option>
            <option value="DEFAULT">DEFAULT</option>
            <option value="PF_AP">PF_AP</option>
            <option value="PF_USER">PF_USER</option>
          </select>
        &nbsp;&nbsp;<input type="submit" value="조회" style="width: 80px;height: 30px;font-weight: bold; font-size: medium">
        &nbsp;&nbsp;<button style="width: 100px;height: 30px;font-weight: bold; font-size: medium"><a href="/html/createUser">계정 등록</a></button>
        &nbsp;&nbsp;<button onclick="document.location='/v1/'" value="삭제" style="width: 100px;height: 30px;font-weight: bold; font-size: medium">계정 삭제</button>
      </fieldset>
    </form>
  </div>


  <table class="table">
    <thead>
      <tr class="tr_td">
        <th>Chk</th>
        <th>ID</th>
        <th>유저명</th>
        <th>계정상태</th>
        <th>프로파일</th>
        <th>잠긴날짜</th>
        <th>만료날짜</th>
        <th>생성일</th>
        <th>수정</th>
        <th>삭제</th>
      </tr>
    </thead>

    <tbody id="t_body">
      <th:block th:each="userList : ${list}">
        <tr class="tr_ts">
          <td><input type="checkbox" name="username" value="ID"></td>
          <td th:text="${userList.get('USER_ID')}">ID</td>
          <td th:text="${userList.get('USERNAME')}">유저명</td>
          <td th:text="${userList.get('ACCOUNT_STATUS')}">계정상태</td>
          <td th:text="${userList.get('PROFILE')}">프로파일</td>
          <td th:text="${userList.get('LOCK_DATE')}">잠긴날짜</td>
          <td th:text="${userList.get('EXPIRY_DATE')}">만료날짜</td>
          <td th:text="${userList.get('CREATED')}">생성일</td>
          <td><a th:href="@{/html/update(username=${userList.get('USERNAME')})}">수정</a></td>
          <td><a th:href="@{/html/dropUser(username=${userList.get('USERNAME')})}">삭제</a></td>
        </tr>
      </th:block>
    </tbody>
  </table>

  <div th:object="${pageMaker}">
    <div class="big-width" style="text-align: center">
      <a class="changePage" th:if="*{prev}" th:href="@{/html/getList?pageNum=} + *{startPage - 1}"><code>&lt;</code></a>

      <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
        <code th:if="${pageMaker.criteria.getPageNum() == num}" th:text="${num}"></code>
        <a class="changePage" th:unless="${pageMaker.criteria.getPageNum() == num}" th:href="@{/html/getList?pageNum=} + ${num}"><code th:text="${num}"></code></a>
      </th:block>

      <a class="changePage" th:if="*{next}" th:href="@{/html/getList?pageNum=} + *{endPage + 1}"><code>&gt;</code></a>

    </div>

    <div class="small-width" style="text-align: center">
      <a class="changePage" th:if="*{criteria.pageNum > 1}" th:href="@{/html/getList?pageNum=} + *{criteria.pageNum - 1}"><code>&lt;</code></a>
      <code th:text="*{criteria.pageNum}"></code>
      <a class="changePage" th:if="*{criteria.pageNum < realEnd}" th:href="@{/html/getList?pageNum=} + *{criteria.pageNum + 1}"><code>&gt;</code></a>
    </div>

    <form action="/html/getList=" th:object="${criteria}" name="pageForm" method="post">
      <input type="hidden" name="pageNum" th:field="*{pageNum}">
      <input type="hidden" name="amount" th:field="*{amount}">
    </form>
  </div>


<!-- 푸터 위치 -->
<th:block th:replace="~{/comm/footer}"></th:block>


<script>
    function fSearch() {
    loadDocArray();
    return false;
    }

    function loadDocArray() {
    const xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      document.getElementById("t_body").innerHTML = "<img src='/image/loading.png' alt='Loading'>";
      if (this.readyState == 4 && this.status == 200) {
        console.log(this.responseText);
        const myAjax = JSON.parse(this.responseText) // /v1/coffeeAjaxGet 값 대입
        console.log(myAjax);
        console.log(myAjax.coffee_list.lentgh);

        /* JSON 데이터 넣기 */
        let ajaxTD = "";

        for(let i in myAjax.coffee_list) {
          ajaxTD += '<tr id="tr_loop" className="tr_id">';
          ajaxTD += '<td><input type="checkbox" name="coffee_id" value="ID"></td>';
          ajaxTD += '<td>' + myAjax.coffee_list[i].coffee_id + '</td>';
          ajaxTD += '<td>' + myAjax.coffee_list[i].name + '</td>';
          ajaxTD += '<td>' + myAjax.coffee_list[i].kind + '</td>';
          ajaxTD += '<td>' + myAjax.coffee_list[i].price + '</td>';
          ajaxTD += '<td>' + myAjax.coffee_list[i].reg_day + '</td>';
          ajaxTD += '<td>' + myAjax.coffee_list[i].mod_day + '</td>';
          ajaxTD += '<td><a href="/v1/update?coffee_id=' + myAjax.coffee_list[i].coffee_id + '">수정</a></td>';
          ajaxTD += '<td><a href="/v1/delete?coffee_id=' + myAjax.coffee_list[i].coffee_id + '">삭제</a></td>';
          ajaxTD += '</tr>';
          console.log(ajaxTD);
        }
        document.getElementById("t_body").innerHTML = ajaxTD; // t_body의 값을 대체
      }
    };

    /* Get 방식
<!--    xhttp.open("GET", "/v1/coffeeAjaxGet"); //Controller 경로를 호출하여 /v1/coffeeAjax.html의 값으로 대체-->
<!--    xhttp.send();-->
    */

    /* Post 방식 */
    let _start_date = document.getElementById("start_date").value;
    let _end_date = document.getElementById("end_date").value;
    let _name = document.getElementById("name").value;
    let _kind = document.getElementById("kind").value;


    xhttp.open("POST", "/v1/coffeeAjaxPost");
    xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    xhttp.send("start_date="+_start_date+"&end_date="+_end_date+"&name="+_name+"&kind="+_kind);
    console.log(xhttp.sent);
  }


<!--  /* 현재 시간 날짜에 적용시키기 */-->
<!--  document.getElementById("start_date").value=new Date().toISOString().slice(0,10);-->
<!--  document.getElementById("end_date").value=new Date().toISOString().slice(0,10);-->
</script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>

</body>
</html>